.History {
    display: block;
    float: right;
    height: 100%;
    min-width: 300px;
    background-color: #cff4fc;
    overflow-y: auto;
    border-left: solid 1px black;
}

.History__header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid 1px black;
}

.History__title {
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    font-size: 24px;
    padding: 1px;
}

.History__list {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

}

.item {
    font-size: 20px;
    color: black;
    padding: 10px;
    list-style: none;
    text-align: center;
}