body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.Aside {
    display: block;
    float: left;
    min-width: 250px;
    background: snow;
    height: 100%;
}

.Main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tableZone {
    /*background-color: lightgray;*/
    height: 100%;
    overflow-y: auto;
}

.Errors {
    display: block;
    float: right;
    height: 100%;
    min-width: 300px;
    background-color: lightgray;
}

.listErrors {
    padding-top: 50px;
}